nav {
  background-color: green;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: white;
}



.table-responsive {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .table thead th {
    border-bottom: 2px solid #dee2e6;
  }
  
  .table td,
  .table th {
    padding: 0.75rem;
    vertical-align: middle;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
 